.btn-volver{
    display: inline-block; /* Permite que el elemento se comporte como un bloque */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #94b495; /* Color de fondo */
    color:#ffffff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

